{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/swans.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar-transparente.css') }}">
{% endblock %}

{% block body %}
    <div id="confirmation">
        <div class="container">
            <div class="row rad bg-aloe-vera jumbotron">
                <div class="col-xs-12 text-center bg-aloe-vera jumbotron">
                    <h2 class="text-uppercase pin-glacial">
                        Merci pour votre
                        <br>
                        observation
                    </h2>
                </div>
                {% if not is_granted('ROLE_NATURALISTE') %}
                <div class="col-xs-12 text-center bg-aloe-vera jumbotron">
                    <p class="blanc">
                        votre observation sera publiée une fois validée
                    </p>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <a href="{{ path('homepage') }}" class="btn btn-lg btn-block btn-blanc text-uppercase pin-glacial">
                            <i class="fa fa-chevron-left fa-lg fa-pull-left" aria-hidden="true"></i>
                            Accueil
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <a href="{{ path('observation_new') }}" class="btn btn-lg btn-block btn-pin-glacial text-uppercase aloe-vera">
                            <i class="fa fa-plus fa-lg fa-pull-left" aria-hidden="true"></i>
                            Nouvelle observation
                        </a>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/confirmation.js') }}"></script>
    <script src="{{ asset('js/documentSize.js') }}"></script>
{% endblock %}