{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Observations en attentes</h1>

        {% for observation in observations %}
            <div class="observation">
                    <div class="row" id="row_id">
                        <div class="col-md-4">
                            <a href="{{ path('observation_validate', { 'id': observation.id }) }}">
                            <div class="block">
                                <div class="row" id="row_id">
                                    <div class="col-xs-4 col-md-4 col-lg-5">
                                        <img src="{{ asset('img_upload/'~ observation.image) | imagine_filter('default_thumb')}}" alt="">
                                    </div>
                                    <div class="description col-xs-8 col-md-4 col-lg-6">
                                        <h3>{{ observation.espece }}</h3>
                                        <h3>{{ observation.espece.famille }}</h3>
                                        <p>{% if observation.date %}{{ observation.date|date('Y-m-d') }}{% endif %}</p>
                                        <p>{{ observation.latitude }}</p>
                                        <p>{{ observation.longitude }}</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
            </div>

        {% endfor %}


        <a href="{{ path('observarion_mes_observations') }}">Observation</a>
        <a href="{{ path('page_ajout') }}">Ajout observation</a>
    </div>

{% endblock %}
