{% extends 'base.html.twig' %}

{% block body %}
    <h1>Observations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Image</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for observation in observations %}
            <tr>
                <td><a href="{{ path('observation_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>
                <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ observation.latitude }}</td>
                <td>{{ observation.longitude }}</td>
                <td>{{ observation.image }}</td>
                <td>{% if observation.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('observation_show', { 'id': observation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('observation_edit', { 'id': observation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('observation_new') }}">Create a new observation</a>
        </li>
    </ul>
{% endblock %}
