<div id="tabNombre">
    {% if userObservations is empty %}
        <div class="col-xs-12 alert alert-danger center">Aucune observation</div>
    {% endif %}
    {% for observation in userObservations %}
        <a href="{% if is_granted('ROLE_NATURALISTE') %}{{ path('observation_validate', { 'id': observation.id }) }}{% endif %}" class="bg-blanc pin-glacial">
            <img src="{% if not observation.image %}{{ asset('/img_upload/bird.png')|imagine_filter('default_thumb') }}{% else %}{{ asset('/img_upload/'~ observation.image)|imagine_filter('default_thumb')}}{% endif %}" alt="photo d'oiseau">
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-square"></i>Oiseau : {{ observation.espece }}</li>
                <li><i class="fa-li fa fa-square"></i>Espèce : {{ observation.espece.famille }}</li>
                <li><i class="fa-li fa fa-square"></i>Date : {{ observation.date|date('d/m/Y') }}</li>
                <li><i class="fa-li fa fa-square"></i>Coordonnées :</li>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-square"></i>Latitude : {{ observation.latitude }}</li>
                    <li><i class="fa-li fa fa-square"></i>Longitude : {{ observation.longitude }}</li>
                </ul>
            </ul>
        </a>
    {% endfor %}
    <input type="hidden" id="nb-obs" value="{{ countUserObservations }}" disabled>
</div>
<div id="tabValidees">
    {% if is_granted('ROLE_USER') %} {# and not is_granted('ROLE_NATURALISTE')#}
        {% if userObservationsValidate is empty %}
            <div class="alert alert-danger center">Aucune observation validée</div>
        {% endif %}
        {% for observation in userObservationsValidate %}
            <div class="bg-blanc pin-glacial">
                <img src="{% if not observation.image %}{{ asset('/img_upload/bird.png')|imagine_filter('default_thumb') }}{% else %}{{ asset('/img_upload/'~ observation.image)|imagine_filter('default_thumb')}}{% endif %}" alt="photo d'oiseau">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-square"></i>Oiseau : {{ observation.espece }}</li>
                    <li><i class="fa-li fa fa-square"></i>Espèce : {{ observation.espece.famille }}</li>
                    <li><i class="fa-li fa fa-square"></i>Date : {{ observation.date|date('d/m/Y') }}</li>
                    <li><i class="fa-li fa fa-square"></i>Coordonnées :</li>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-square"></i>Latitude : {{ observation.latitude }}</li>
                        <li><i class="fa-li fa fa-square"></i>Longitude : {{ observation.longitude }}</li>
                    </ul>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
    <input type="hidden" id="nb-val" value="{{ countUserObservationsValidate }}" disabled>
</div>
<div id="tabAttente">
    {% if is_granted('ROLE_USER') %} {# and not is_granted('ROLE_NATURALISTE')#}
        {% if userObservationsWaiting is empty %}
            <div class="alert alert-danger center">Aucune observation</div>
        {% endif %}
        {% for observation in userObservationsWaiting %}
            <div class="bg-blanc pin-glacial">
                <img src="{% if not observation.image %}{{ asset('/img_upload/bird.png')|imagine_filter('default_thumb') }}{% else %}{{ asset('/img_upload/'~ observation.image)|imagine_filter('default_thumb')}}{% endif %}" alt="photo d'oiseau">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-square"></i>Oiseau : {{ observation.espece }}</li>
                    <li><i class="fa-li fa fa-square"></i>Espèce : {{ observation.espece.famille }}</li>
                    <li><i class="fa-li fa fa-square"></i>Date : {{ observation.date|date('d/m/Y') }}</li>
                    <li><i class="fa-li fa fa-square"></i>Coordonnées :</li>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-square"></i>Latitude : {{ observation.latitude }}</li>
                        <li><i class="fa-li fa fa-square"></i>Longitude : {{ observation.longitude }}</li>
                    </ul>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
    <input type="hidden" id="nb-att" value="{{ countUserObservationsWaiting }}" disabled>
</div>
