{% extends 'base.html.twig' %}

{% block body %}

<body class="main">
<div class="container">
    <div class="row visible-xs " id="ajout_validation">
        <div class="bg-aloe-vera btn-ajout-1 col-xs-12">
            <a href="{{ url('observation_index') }}">
                <img class="img-responsive" src="{{ asset('imgs/bouton-ajout-observation – 1.png') }}">
            </a>
        </div>
        <span class="badge count">{{ observations }}</span>
        <div class="bg-aloe-vera btn-ajout col-xs-12">
            <a href="{{ url('observation_new') }}">
                <img  class="img-responsive" src="{{ asset('imgs/bouton-ajout-observation.png') }}">
            </a>
        </div>
    </div>
    <div class="row hidden-xs" id="ajout_validation">
        <div class="bg-aloe-vera btn-ajout-1 col-md-4">
            <a href="{{ url('observation_index') }}">
                <img class="img-responsive" src="{{ asset('imgs/bouton-ajout-observation – 1.png') }}">
            </a>
        </div>
        <span class="badge count">{{ observations }}</span>
        <div class="bg-aloe-vera btn-ajout col-md-4">
            <a href="{{ url('observation_new') }}">
                <img class="img-responsive" src="{{ asset('imgs/bouton-ajout-observation.png') }}">
            </a>
        </div>
    </div>
</div>
</body>

{% endblock %}
