{% extends 'base.html.twig' %}

{% block body %}
    <h1>Observation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ observation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if observation.date %}{{ observation.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ observation.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ observation.longitude }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ observation.image }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if observation.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('observation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('observation_validate', { 'id': observation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
