{% extends 'base.html.twig' %}

{% block body %}
    <h1>Observation edit</h1>

    {{ form_start(validate_form) }}
    {{ form_widget(validate_form) }}
    <input type="submit" value="Valider" />
    {{ form_end(validate_form) }}

    <ul>
        <li>
            <a href="{{ path('observation_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
