{%  extends "::base.html.twig" %}

{% block script %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<div class="col-xs-8 col-xs-offset-2">

    {{ form_start(form) }}

    <div class="col-xs-6 form-group">
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}
    </div>

    <div class="col-xs-6 form-group">
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="form-group col-xs-12">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group col-xs-12">
        {{ form_widget(form.sujet) }}
        {{ form_errors(form.sujet) }}
    </div>

    <div class="form-group col-xs-12">
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>

    <div class="g-recaptcha form-group col-xs-12" data-sitekey="6LdOQiIUAAAAAOvCV19AXUYhV4TfE-JoR8A_2MNM"></div>


    <div class="form-group col-xs-12">
        <input type="submit" class="btn btn-primary" value="Envoyer">
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}