<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets  %}
            <link rel="stylesheet" href="{{ '/nao/web/css/bootstrap.css' }}">
            <link rel="stylesheet" href="{{ '/nao/web/css/bootstrap-theme.css' }}">


        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ '/nao/web/js/jquery.js' }}"></script>
            <script src="{{ '/nao/web/js/bootstrap.js' }}"></script>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
