{% trans_default_domain 'FOSUserBundle' %}
    <div class="col-xs-12 col-sm-10 col-md-5">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class=" form-group">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
            </div>
            <div class="col-xs-12">
                 <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                </div>
            </div>
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
            </div>

    </div>
{{ form_end(form) }}