{% extends 'base.html.twig' %}

{% block body %}
<div class="row bg-blanc">
    <div class="col-xs-12 text-center" id="home-1">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
                <h1 class="text-uppercase blanc">
                    bienvenue sur le site de l'association nos amis les oiseaux
                </h1>
                <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
                <p class="blanc">
                    Comme de nombreux passionés, participez à notre programme national de recherche grâce à notre outil collaboratif d'observation des oiseaux
                </p>
                <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 jumelles">
                <a href="{{ path('recherche') }}">
                    <img src="{{ asset('imgs/bouton-xs-1.png') }}" class="img-responsive hidden-md hidden-lg">
                </a>
                <a href="{{ path('observation_new') }}">
                    <img src="{{ asset('imgs/bouton-xs-2.png') }}" class="img-responsive hidden-md hidden-lg">
                </a>
                <a href="{{ path('recherche') }}">
                    <img src="{{ asset('imgs/bouton-md-1.png') }}" class="img-responsive hidden-xs hidden-sm">
                </a>
                <a href="{{ path('observation_new') }}">
                    <img src="{{ asset('imgs/bouton-md-2.png') }}" class="img-responsive hidden-xs hidden-sm">
                </a>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
    </div>
</div>
{% endblock %}


