{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('css/navbar-transparente.css') }}">
{% endblock %}

{% block body %}
    <div class="col-xs-12" id="div-carte">
        <div id="carte-rechercher">
            <div class="row" id="select-row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center" id="div-select-recherche-home-2">
                    <div class="form-group">
                        <label for="select-recherche-home-2" class="blanc gras">Sélectionnez une espèce</label>
                        <select class="form-control rad" name="espece" id="select-recherche-home-2" required>
                            {% for espece in donnees.liste %}
                                <option value="{{ espece }}" {% if donnees.especeSelectionnee is defined and donnees.especeSelectionnee == espece %} selected {% endif %}>
                                    {{ espece }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="adresseCarto" value="{{ url('cartoRechercheEspece') }}" disabled>
                        <input type="hidden" id="protection-especes" value="{% if is_granted('ROLE_NATURALISTE') %}0{% else %}1{% endif %}" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin="" ></script>
    <script src="{{ asset('js/map-recherche.js') }}"></script>
{% endblock %}


