{% extends "::base.html.twig" %}

{% block body %}
<div class="container pin-glacial">
    <div id="qsn-1">
        <div class="row" id="qsn1-row-1">
            <div class="col-md-4 hidden-xs hidden-sm text-center">
                <div class="col-xs-6 col-xs-offset-3">
                    <img src="{{ asset('imgs/qsn-1.1.jpeg') }}" class="img-responsive img-circle">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h1 class="text-uppercase">
                            nos
                        </h1>
                    </div>
                    <div class="col-xs-12 text-center">
                        <h1 class="text-uppercase">
                            objectifs
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn1-row-2">
            <div class="col-xs-12 col-sm-8 col-md-6 jumbotron">
                <p>
                    Observer et étudier les oiseaux dans leurs milieux naturels dans toutes les régions de France.
                </p>
                <br>
                <p>
                    Sauvegarder et protéger les espèces et notamment les espèces protégées.
                </p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-2 text-center" id="qsn-row-2-2">
                <img src="{{ asset('imgs/qsn-1.2.jpeg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 hidden-sm col-md-4 text-center">
                <img src="{{ asset('imgs/qsn-1.3.jpeg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn1-row-3">
            <div class="hidden-xs col-sm-4 col-md-2 text-center">
                <img src="{{ asset('imgs/qsn-1.4.jpeg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 hidden-sm col-md-4 text-center">
                <img src="{{ asset('imgs/qsn-1.5.jpeg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 jumbotron">
                <p>
                    Veiller à la prise en compte de l'environnement, des richesses naturelles et des équilibres écologiques.
                </p>
                <br>
                <p>
                    Promouvoir, favoriser, soutenir l'éducation populaire, l'initiation en matière d'environnement et de découverte de la nature.
                </p>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn1-row-4">
            <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-8 text-center">
                <img src="{{ asset('imgs/qsn-1.6.jpeg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn1-row-5">
            <div class="col-xs-12 text-center">
                <button class="btn btn-blanc btn-block" id="chevron-qsn-1">
                    <i class="fa fa-chevron-down fa-5x pin-glacial" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="qsn-2">
        <div class="row" id="qsn2-row-1">
            <div class="col-xs-12 text-center">
                <button class="btn btn-blanc btn-block" id="chevron-qsn-2-haut">
                    <i class="fa fa-chevron-up fa-5x pin-glacial" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row" id="qsn2-row-2">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h1 class="text-uppercase">
                            nos
                        </h1>
                    </div>
                    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase">
                            missions
                        </h1>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 text-center">
                <div class="col-xs-6 col-xs-offset-3">
                    <img src="{{ asset('imgs/qsn-2.3.jpg') }}" class="img-responsive img-circle">
                </div>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn2-row-3">
            <div class="hidden-xs col-sm-4 col-md-4 text-center">
                <img src="{{ asset('imgs/qsn-2.1.jpg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 hidden-sm col-md-2 text-center">
                <img src="{{ asset('imgs/qsn-2.2.jpg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 jumbotron">
                <p>
                    Créée en 1995, Nos Amis les oiseaux (NAO) est une association dédiée à l’observation, l’étude et la protections des oiseaux.
                </p>
                <br>
                <p>
                    Le but de l’association est de regrouper et de fédérer les passionnés d'ornithologie.
                </p>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn2-row-4">
            <div class="col-xs-12 col-sm-8 col-md-6 jumbotron">
                <p>
                    Pour cela, NAO facilite les observations d’oiseaux en permettant de <a href="{{ path('cartoRechercheEspece') }}" class="herbe-tropicale gras">rechercher sur le terrain</a> les espèces présentent autour de soi.
                </p>
                <br>
                <p>
                    NAO permet également à chacun de contribuer à l’enrichissement du nombre d’espèces à observer et offrant la possibilité de <a href="{{ url('observation_index') }}" class="herbe-tropicale gras">saisir une observation</a> afin de partager avec l’ensemble de la communauté l’oiseau ajouté.
                </p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-2 text-center" id="qsn-row-2-2">
                <img src="{{ asset('imgs/qsn-2.5.jpg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 hidden-sm col-md-4 text-center">
                <img src="{{ asset('imgs/qsn-2.6.jpg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn2-row-5">
            <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-pull-2 text-center">
                <img src="{{ asset('imgs/qsn-2.4.jpg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <br><br>
        <div class="row" id="qsn2-row-6">
            <div class="col-xs-12 text-center">
                <button class="btn btn-blanc btn-block" id="chevron-qsn-2-bas">
                    <i class="fa fa-chevron-down fa-5x pin-glacial" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="qsn-3">
        <div class="row" id="qsn3-row-1">
            <div class="col-xs-12 text-center">
                <button class="btn btn-blanc btn-block" id="chevron-qsn-3">
                    <i class="fa fa-chevron-up fa-5x pin-glacial" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn3-row-2">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="text-uppercase">
                            le
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                        <h1 class="text-uppercase">
                            programme
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2">
                        <h1 class="text-uppercase">
                            de
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-xs-offset-3">
                        <h1 class="text-uppercase">
                            recherche
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 jumbotron">
                <p>
                    NAO met tout en œuvre pour préserver les espèces.
                </p>
            </div>
            <div class="col-xs-12 hidden-sm col-md-2 text-center">
                <img src="{{ asset('imgs/qsn-2.5.jpg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn3-row-3">
            <div class="col-xs-12 hidden-sm col-md-2 text-center">
                <img src="{{ asset('imgs/qsn-3.3.jpg') }}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 jumbotron">
                <p>
                    Afin de contribuer à la protection des espèces, en rejoignant la communauté de NAO, les participants prennent part à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.
                </p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4">
                <img src="{{ asset('imgs/qsn-3.5.jpg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
        <div class="row" id="qsn3-row-4">
            <div class="hidden-xs col-sm-3 text-center">
                <img src="{{ asset('imgs/qsn-3.2.jpg') }}" class="img-responsive img-circle">
            </div>
            <div class="hidden-xs col-sm-2 text-center">
                <img src="{{ asset('imgs/qsn-3.4.jpg') }}" class="img-responsive img-circle">
            </div>
        </div>
        <div class="hidden-xs"><br><div class="hidden-sm"><br></div></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/qsn.js') }}"></script>
{% endblock %}