{% extends "::base.html.twig" %}

{% block body %}
    <div id="div-mon-compte">
        <div class="row bg-aloe-vera pin-glacial">
            <div class="col-xs-12 col-sm-4 col-md-3 bg-herbe-tropicale" id="show">
                <div class="row bg-herbe-tropicale" id="fos-profil-show">
                    {{ render(controller('FOSUserBundle:Profile:show')) }}
                </div>
                <div class="col-xs-12 bg-pin-glacial aloe-vera" id="div-nombre">
                    <button class="btn btn-transparent text-uppercase aloe-vera" id="nombre">
                        <span class="badge bg-aloe-vera pin-glacial"></span>
                        nombre d'observations
                    </button>
                </div>
                {% if is_granted('ROLE_USER')  %} {# and not is_granted('ROLE_NATURALISTE') #}
                    <div class="col-xs-12 bg-pin-glacial aloe-vera" id="div-validees">
                        <button class="btn btn-transparent text-uppercase aloe-vera" id="validees">
                            <span class="badge bg-aloe-vera pin-glacial"></span>
                            observations validées
                        </button>
                    </div>
                    <div class="col-xs-12 bg-pin-glacial aloe-vera" id="div-attente">
                        <button class="btn btn-transparent text-uppercase aloe-vera" id="attente">
                            <span class="badge bg-aloe-vera pin-glacial"></span>
                            en attente de validation
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9" id="my-observations">
                {{ include(':observation:mesObservations.html.twig') }}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9" id="admin">
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12">
                        <button class="btn btn-transparent" id="croix-admin">
                            <i class="fa fa-times fa-4x" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ render(controller('UserBundle:Default:recherche')) }}
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ render(controller('UserBundle:Default:rechercheRole')) }}
                    </div>
                    <div class="col-xs-12" id="admin-index">
                        {{ render(controller('UserBundle:User:index')) }}
                    </div>
                    <div class="col-xs-12 bg-herbe-tropicale blanc" id="div-ajouter">
                        <button class="btn btn-transparent text-uppercase blanc" id="ajouter">
                            <i class="fa fa-plus fa-lg blanc" aria-hidden="true"></i>
                            ajouter un utilisateur
                        </button>#
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ render(controller('UserBundle:User:new')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mon-compte.js') }}"></script>
{% endblock %}