{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forest.css') }}">
{% endblock %}

{% block body %}
    <div class="rad margin-30" id="div-dashboard">
        <div class="row bg-aloe-vera pin-glacial">
            <div class="col-xs-12 col-sm-4 col-md-3 bg-herbe-tropicale" id="show">
                <div class="row bg-herbe-tropicale" id="fos-profil-show">
                    {{ render(controller('FOSUserBundle:Profile:show')) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9" id="liste-users">
                <div class="row">
                    <br>
                    <div class="col-xs-12">
                        {{ render(controller('UserBundle:Default:recherche')) }}
                    </div>
                    <br>
                </div>
                <div class="row">
                    <br>
                    <div class="col-xs-12">
                        {{ render(controller('UserBundle:Default:rechercheRole')) }}
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="admin-index">
                        {% for user in users %}
                            <div class="row centrer-element">
                                <div class="col-xs-3">
                                    <img src="http://lorempixel.com/300/300/people/" alt="people" class="img-circle img-responsive center-block">
                                </div>
                                <div class="col-xs-9 pin-glacial">
                                    {{ user.lastname }} {{ user.firstname }} ( {{ user.username }} )
                                    <br><br>
                                    {{ user.email }}
                                    <a href="{{ path('admin_utilisateurs_edit', { 'id': user.id }) }}"><i class="fa fa-edit pin-glacial" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 bg-herbe-tropicale blanc" id="div-ajouter">
                        <button class="btn btn-block btn-transparent text-uppercase blanc" id="ajouter">
                            <i class="fa fa-plus fa-lg blanc" aria-hidden="true"></i>
                            ajouter un utilisateur
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9" id="creer-user">
                <div class="row">
                    <div class="col-xs-12">
                        {{ render(controller('UserBundle:User:new')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
    <script src="{{ asset('js/documentSize.js') }}"></script>
{% endblock %}