{% for user in users %}
    <div class="row centrer-element">
        <div class="col-xs-3">
            <img src="http://lorempixel.com/300/300/people/" alt="people" class="img-circle img-responsive center-block">
        </div>
        <div class="col-xs-9 pin-glacial">
            {{ user.lastname }} {{ user.firstname }} ( {{ user.username }} )
            <br><br>
            {{ user.email }}
            <a href="{{ path('admin_utilisateurs_edit', { 'id': user.id }) }}"><i class="fa fa-edit pin-glacial" aria-hidden="true"></i></a>
        </div>
    </div>
{% endfor %}

