{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit') })}}

<div>
    {{ form_label(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}
</div>

<div>
    {{ form_label(form.lastname) }}
    {{ form_errors(form.lastname) }}
    {{ form_widget(form.lastname) }}
</div>

<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
</div>

<div>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
</div>


<div>
    {{ form_label(form.plainpassword) }}
    {{ form_errors(form.plainpassword) }}
    {{ form_widget(form.plainpassword) }}
</div>

    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
