{% trans_default_domain 'FOSUserBundle' %}

<div>
    <h3>Mettre à jour votre profile</h3>
</div>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<div>
    {{ form_label(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}
</div>
<div>
    {{ form_label(form.lastname) }}
    {{ form_errors(form.lastname) }}
    {{ form_widget(form.lastname) }}
</div>
<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
</div>
<div>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
</div>

<div>
   <button type="submit" class="btn btn-success">Valider</button>
</div>


{{ form_end(form) }}

<div>
    <a class="btn btn-primary" href="{{ path('user_mon_compte_show') }}">Retour à mon profil</a>
</div>