{% trans_default_domain 'FOSUserBundle' %}
<div class="col-xs-12 bg-herbe-tropicale">
    <div class="row">
        <br>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('nao_dashboard') }}" class="btn btn-xs btn-aloe-vera text-uppercase pin-glacial pull-left" id="btn-admin">administration</a>
        {% endif %}
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-xs btn-transparent text-uppercase pin-glacial pull-right" id="btn-deco">déconnexion</a>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2" id="image">
            <div class="panel-heading">
                <img src="{{asset('profil/'~ user.imageName)}}" alt="people" class="img-circle img-responsive center-block" height="240">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">{{ 'Prénom'|trans }}: {{ user.firstname }} <a href="{{path('fos_user_profile_edit') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a></div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">{{ 'Nom'|trans }}: {{ user.lastname }} <a href="{{path('fos_user_profile_edit') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a></div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">{{ 'profile.show.username' |trans }}: {{ user.username }} <a href="{{path('fos_user_profile_edit') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a></div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">{{ 'profile.show.email'|trans }}: {{ user.email }} <a href="{{path('fos_user_profile_edit') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a></div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">{{ 'Mot de passe'|trans }}: <a href="{{path('fos_user_change_password') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a></div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-xs-12">
                <div class="form-group">
                    {{ 'Position' }}: <a href="{{path('fos_user_profile_edit') }}"><i class="fa fa-edit aloe-vera" aria-hidden="true"></i></a>
                    <ul class="fa-ul">
                        {% for role in user.roles %}
                            <li>
                                <i class="fa-li fa fa-check-square"></i>
                                {{ role }}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        {% endif %}
    </div>
</div>

